/* entire webpage */
body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

/* companyLogo class and image */
.companylogo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    right: 73%;
    bottom: 87%;
    z-index: 3;
}

/* car-logo class and image */
.car-logo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    left: 73%;
    bottom: 87%;
    z-index: 2;
}

/* back-arrow class and image */
.back-arrow {
    position: absolute;
    width: 131px;
    height: 57px;
    bottom: 82%;
    left: 0.9%;

    z-index: 1;
}

/* rectangle class top at the webpage */
.rectangle {
    position: absolute;
    width: 100%;
    height: 20%;
    background: #F3F3F1;
}

/* search_button class and search button */
.search_button {
    position: absolute;
    float: right;
    margin-right: 135px;
    background-blend-mode: darken;
    background-color: #FFFFFF;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 40px;
    width: 18%;
    height: 55px;
    text-indent: 20px;
    top: 13%;
    left: 75%;
}

/* search_button placeholder text inside the button */
.search_button::placeholder {
    font-size: 25px;
}

/* business_tableContainer class for all the tables  */
.business_tableContainer {
    display: flex;
    justify-content: space-between;
}

/* business_tableContainer class for all the tables  */
.business_tableContainer {
    flex: 1;
}

/* left-table class for left side table (customer table) */
.left-table {
    position: absolute;
    top: 25%;
    left: 5%;
}

/* right-table class for right side table (rental agreement table)  */
.right-table {
    position: absolute;
    top: 25%;
    right: 5%;
}

/* sum-table for total sum of monthly price column from rental agreement table */
.sum-table {
    position: absolute;
    top: 90%;
    right: 5%;
}

/* all the tables */
table {
    position: relative;
    top: 25%;
    border-spacing: 0 10px;
    width: 45%;
    margin-bottom: 20px;
    border-radius: 40px;
    font-family: Montserrat, sans-serif;
    color: black;
}

/* table data for all the column in all the tables */
td, th {
    color: black;
    text-align: center;
    padding: 10px;
}

/* first row for all the tables */
th {
    font-family: Montserrat, sans-serif;
    color: #1892C3;
}

/* all thead for all first row for all the tables */
thead {
    width: 85%;
}

/* all table row for all the tables */
tr {
    background-color: #F3F3F1;
    border-radius: 40px;
}

/* table data all first rows */
td:first-child, th:first-child {
    border-radius: 20px 0 0 20px;
}

/* table data all last rows */
td:last-child, th:last-child {
    border-radius: 0 20px 20px 0;
}

