body {
    background-color: #F3F3F1;
    overflow: hidden;
}

.logo-left {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 400px;
    position: sticky;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    right: 1200px;
    bottom: 1000px;
    z-index: 3;
    margin-left: 10px;
    top: 10px;
}

.logo-right {
    position: sticky;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    left: 1800px;
    bottom: 1000px;
    display: inline-block;
    margin-bottom: 10px;
}

.back-arrow {
    width: 131px;
    height: 57px;
    z-index: 10;
}

.page-content {
    width: 100%;
}

.search_button {
    position: sticky;
    float: right;
    margin-right: 135px;

    background-blend-mode: darken;
    background-color: #FFFFFF;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 40px;
    width: 324px;
    height: 55px;
    text-indent: 20px;
}

.search_button::placeholder {
    font-size: 25px;
}

.search_submit {
    background-image: url("static/images/search_icon.png");

    position: sticky;
    float: right;
    margin-right: -425px;
}