body {
    background-color: #F3F3F1;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 250px;
    background: #FFFFFF;
}

.header {
    display: block;
    width: 100%;
    height: 100px;
}

.logo-left {
    position: absolute;

    flex-direction: row;
    justify-content: center;
    align-content: center;
    top: 42%;
    left: 30%;
    display: inline-block;
    /*float: left;
    width: 50%;
    height: 100px;*/
}

.logo-right {
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    top: 42%;
    left: 30%;
    display: inline-block;

    /*display: block;
    width: 50%;
    height: 100px;*/
}

/* This css is for the button.*/
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}

.back-button:hover {
    background-color: #aaa;

}

.back-button:active {
    background-color: #888;
}

.back-button::before {
    content: "\2190";
    font-size: 16px;
    margin-right: 10px;

}
