body {
    background-color: #FFFFFF;
    min-height: 100%;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rectangle {
    top: 0;
    position: absolute;
    width: 100%;
    height: 30%;
    background: #F3F3F1;
}

h2{
    position: absolute;
    width: 40rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    bottom: 75%;
    left: 6%;
    color: #000000;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background: #1892C3;
    border-radius: 80px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    border: none;
    transition: 0.3s;
    opacity: 1;
    outline: none;
}

a:link{
    text-decoration: none;
}

button:hover{
    border-style: initial;
    border-color: #1892C3;
    background-color: #F3F3F1;
    font-size: 30px;
    color: #1892C3;
    opacity: 0.6;
}


.button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 25%;
}

.back-arrow {
    position: absolute;
    width: 131px;
    height: 57px;
    bottom: 82%;
    left: 0.9%;

    z-index: 1;
}


img {
    max-width: 100%;
    height: auto;
}

.companylogo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    right: 73%;
    bottom: 87%;
    z-index: 3;
}


.car-logo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    left: 73%;
    bottom: 87%;
}

/* baggrundsbillede */
.image-container {
    width: 100%;
    height: 66%;
    overflow: hidden;
}



.header {
    display: inline-block;
}
