/* entire webpage */
body {
    background-color: #FFFFFF;
    min-height: 100%;
    overflow: hidden;
}

/* webpage from top to bottom */
html {
    height: 100%;
}

/* all elements on the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rectangle class top at the webpage */
.rectangle {
    top: 0;
    position: absolute;
    width: 100%;
    height: 30%;
    background: #F3F3F1;
}

/* header2 text top at the webpage */
h2 {
    position: absolute;
    width: 40rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    bottom: 75%;
    left: 6%;
    color: #000000;
}

/* all buttons on the webpage */
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background: #1892C3;
    border-radius: 80px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    border: none;
    transition: 0.3s;
    opacity: 1;
    outline: none;
}

/* remove the underline on button text */
a:link {
    text-decoration: none;
}

/* button hover for when cursor / mouse hover over the submit button */
button:hover {
    border-style: initial;
    border-color: #1892C3;
    background-color: #F3F3F1;
    font-size: 30px;
    color: #1892C3;
    opacity: 0.6;
}

/* button-wrapper class for all the buttons positioning */
.button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 25%;
}

/* back-arrow class and image */
.back-arrow {
    position: absolute;
    width: 131px;
    height: 57px;
    bottom: 82%;
    left: 0.9%;

    z-index: 1;
}

/* img for all the images */
img {
    max-width: 100%;
    height: auto;
}

/* companylogo class and companyLogo image */
.companylogo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    right: 73%;
    bottom: 87%;
    z-index: 3;
}

/* car-logo class and logo image */
.car-logo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    left: 73%;
    bottom: 87%;
}

/* image-container class for data-bil.png background image on the middle of the webpage */
.image-container {
    width: 100%;
    height: 66%;
    overflow: hidden;
}
