body {
    background-color: #F3F3F1;
}

rectangle{
    position: absolute;
    width: 1440px;
    height: 200px;
    background: #FFFFFF;
}


h1{
    position: absolute;
    width: 259px;
    height: 49px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    background: #1892C3;
    border-radius: 80px;
    margin-left: 40px;
    font-family: 'Montserrat', bold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

section {
    background: url(3-2-car-free-download-png.png);
    position: absolute;
    width: 350px;
    height: 288px;
}

.header1{
    position: absolute;
    width: 259px;
    height: 49px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.header2{
    position: absolute;
    width: 526px;
    height: 39px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.button-wrapper{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 400px;
    left: 200px;
}




.line1{
    position: absolute;
    width: 1152.01px;
    height: 0px;
    border: 2px solid #1892C3;
    transform: rotate(-0.25deg);

}

.header3{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 500px;
    top: 850px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #000000;
}

logoer{
    position: absolute;
    width: 438px;
    height: 96px;
    background: url(logoer.png);
    background-blend-mode: darken;
}



