body {
    background-color: #FFFFFF;
    min-height: 100%;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 18rem;
    background: #F3F3F1;
}

h1 {
    position: absolute;
    width: 3rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 49px;
    bottom: 75%;
    left: 6%;
}

h2{
    position: absolute;
    width: 20rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    bottom: 70%;
    left: 6%;
    color: #000000;
}


button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background: #1892C3;
    border-radius: 80px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    border: none;
    transition: 0.3s;
    opacity: 1;
    outline: none;
}

a:link{
    text-decoration: none;
}

button:hover{
    border-style: initial;
    border-color: #1892C3;
    background-color: #F3F3F1;
    font-size: 30px;
    color: #1892C3;
    opacity: 0.6;
}

.header1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #000000;
}

.header2 {
    position: absolute;
    width: 526px;
    height: 39px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;

}

.button-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 15%;
}

.line1 {
    position: absolute;
    width: 90%;
    height: 0px;
    border: 2px solid #1892C3;
    top: 90%;
    left: 4%;
}

.header3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 40%;
    top: 95%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #000000;
}


img {
    max-width: 100%;
    height: auto;
}

.companylogo {
    position: absolute;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    right: 73%;
    bottom: 87%;
    z-index: 3;
}


.car-logo {
    position: absolute;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    left: 73%;
    bottom: 87%;
}

.car {
    position: absolute;
    background-blend-mode: lighten;
    height: auto;
    width: 14%;
    left: 86%;
    bottom: 66%;
}
.header{
    display: inline-block;
}



