body {
    background-color: #FFFFFF;
}

.companylogo {
    position: absolute;
    width: 20%;
    height: auto;
    background-blend-mode: darken;
    right: 73%;
    bottom: 87%;
    z-index: 3;
}

.tableContainer {
    position: absolute;
    width: 95%;
    top: 22%;
    left: 2.5%;
}

.car-logo {
    position: absolute;
    width: 25%;
    height: auto;
    background-blend-mode: darken;
    left: 73%;
    bottom: 87%;
    z-index: 2;
}

.back-arrow {
    position: absolute;
    width: 131px;
    height: 57px;
    bottom: 82%;
    left: 0.9%;

    z-index: 1;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 20%;
    background: #F3F3F1;
}

.searchContainer{
    position: absolute;
    top: 13%;
    left: 75%;
}

.search_button {
    position: absolute;
    float: right;
    margin-right: 135px;
    background-blend-mode: darken;
    background-color: #FFFFFF;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 40px;
    width: 18%;
    height: 55px;
    text-indent: 20px;
    top: 13%;
    left: 75%;
}

.search_button::placeholder {
    font-size: 25px;
}

.search_submit {
    background-image: url("static/images/search_icon.png");

    position: absolute;
    float: right;
    margin-right: -425px;
    top: 13%;
    left: 94%;
}

table {
    position: relative;
    top: 25%;
    border-spacing: 0 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 40px;
    font-family: Montserrat, sans-serif;
    color: black;
}

.create_button{
    border-radius: 20px;
    color: #1892C3;
    padding: 8px 15px;
   font-size: 25px;
    transition: 0.3s;
    opacity: 1;
}



.delete_button {
    width: 2rem;
    height: 2rem;
    color: black;
    text-align: center;
    background-color: #bfd7fc;
    position: relative;
    padding: 2px 2px;
    border-radius: 20px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(48, 89, 194);
}

/* This CSS for the updateCustomer.*/

.update_button {
    width: 2rem;
    height: 2rem;
    color: black;
    text-align: center;
    background-color: #bfd7fc;
    position: relative;
    padding: 2px 2px;
    border-radius: 20px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(48, 89, 194);
}

.header{
    display: inline-block;
}

/*

.update_button {
    width: 2rem;
    height: 3rem;
    padding: 2px 2px;
    text-align: center
}
*/


td, th{
    color: black;
    text-align: center;
    padding: 10px;
}

th{
    font-family: Montserrat, sans-serif;
    color: #1892C3;
    <!--Pas på med border-radius, da det gør cellerne individuelle i headeren. -->
}

thead{
    width: 85%;
}

tr {
    background-color: #F3F3F1;
    border-radius: 40px;
}

td:first-child, th:first-child {
    border-radius: 20px 0 0 20px;
}

td:last-child, th:last-child {
    border-radius: 0 20px 20px 0;
}

