body {
    background-color: #FFFFFF;
}

.companylogo {
    position: absolute;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    right: 73%;
    bottom: 87%;
    z-index: 3;
}


.car-logo {
    position: absolute;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    left: 73%;
    bottom: 87%;
    z-index: 2;
}

.back-arrow {
    position: absolute;
    width: 131px;
    height: 57px;
    bottom: 82%;
    left: 0.9%;

    z-index: 1;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 20%;
    background: #F3F3F1;
}

.search_button {
    position: sticky;
    float: right;
    margin-right: 135px;

    background-blend-mode: darken;
    background-color: #FFFFFF;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #000000;
    border-radius: 40px;
    width: 324px;
    height: 55px;
    text-indent: 20px;
}

.search_button::placeholder {
    font-size: 25px;
}

.search_submit {
    background-image: url("static/images/search_icon.png");

    position: sticky;
    float: right;
    margin-right: -425px;
}

table {
    top: 40%;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 40px;
    font-family: Montserrat, sans-serif;
    color: black;
}

.create_button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 2.58%;
    height: 4.3%;
    left: 97%;
    top: 20%;
    border: 2px solid #1892C3;
    border-radius: 200px;
}

.delete_button {
    width: 2rem;
    height: 2rem;
    color: black;
    text-align: center;
    background-color: #bfd7fc;
    position: relative;
    padding: 2px 2px;
    border-radius: 20px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(48, 89, 194);
}

/* This CSS for the updateCustomer.*/

.update_button {
    width: 2rem;
    height: 2rem;
    color: black;
    text-align: center;
    background-color: #bfd7fc;
    position: relative;
    padding: 2px 2px;
    border-radius: 20px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(48, 89, 194);
}

.header{
    display: inline-block;
}

/*

.update_button {
    width: 2rem;
    height: 3rem;
    padding: 2px 2px;
    text-align: center
}
*/


td, th{
    color: black;
    text-align: center;
    padding: 10px;
}

th{
    font-family: Montserrat, sans-serif;
    color: #1892C3;
}

thead{
    width: 85%;
}

tr {
    background-color: #F3F3F1;
}

td:first-child, th:first-child {
    border-radius: 20px 0 0 20px;
}

td:last-child, th:last-child {
    border-radius: 0 20px 20px 0;
}

