body {
    background-color: #FFFFFF;
}

.logo-left {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 400px;
    position: sticky;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    right: 1200px;
    bottom: 1000px;
    z-index: 3;
    margin-left: 10px;
    top: 10px;
}

.logo-right {
    position: sticky;
    width: 500px;
    height: auto;
    background-blend-mode: darken;
    left: 1800px;
    bottom: 1000px;
    display: inline-block;
    margin-bottom: 10px;
}

.back-arrow {
    width: 131px;
    height: 57px;
    z-index: 10;
}

form {
    margin-top: 3rem;
}

form > input {
    margin-bottom: 20px;
}

button {
    background-color: #1892C3;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 15px;
    border-style: solid;
    border-width: 0px 2px 1px 0px;
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0.8);
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 5px 8px;
    border-radius: 20px;
    border-width: 1px 1px 1px 1px;
    border-color: #1892C3;
    background-color: #FFFFFF;
    opacity: 100%;
    transition: 1s;
}


.top-page-content {
    background-color: #F3F3F1;
}

.page-content {
    width: 100%;
    background-color: #F3F3F1;
}