<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>Title</title>
</head>
<body>

<div class="rectangle"></div>


<div class="firmalogo">
<img src="/images/companyLogo.png" alt="logo for company">
    
</div>

<div class="bil">
    <img src="../static/static/images/car.png" alt="car">
</div>

<div id="bil-logoer">
    <img src="../static/static/images/logo.png" alt="car logo">
</div>

<div class="header1">
    <h1>Velkommen!</h1>
</div>
<br>
<br>
<div class="header2">
    <h2>Vælg en af følgende:</h2>
</div>
<div class="button-wrapper">

    <button>Data registrering</button>

    <button>Skade registrering</button>

    <button>Forretningsoversigt</button>

</div>
<div class="line1">
</div>
<div class="header3">
    <h3>Bilabonnement A/S    Slotsherrensvej 411c    2610 Rødovre    CVR-nr. 37856827
    </h3>

</div>

</div>
</body>
</html>