<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Title</title>
</head>
<body>

<div class="rectangle"></div>


<section></section>
<div id="logoer"></div>

<div class="header1">
    <h1>Velkommen!</h1>
</div>

<div class="header2">
    <h2>Vælg en af følgende:</h2>
</div>
<div class="button-wrapper">
<div class="button1">
    <button>Se kunder og kontrakter</button>
</div>

<div class="button2">
    <button>Registrer skade</button>
</div>

<div class="button">
    <button>Tryk her :-)</button>
</div>

<div class="button3">
    <button>Se forretnings-oversigt</button>
</div>
</div>
<div class="line1">
</div>
<div class="header3">
    <h1>Bilabonnement A/S Slotsherrensvej 411c 2610 Rødovre CVR-nr. 37856827
    </h1>
</div>
</body>
</html>