<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"type="text/css"href="/css/createAgreement.css">
    <title>Title</title>
</head>
<body>

<img class="logo-left" src="images/companyLogo.png" height="102">
<img class="logo-right" src="images/logo.png" height="102">

<table>
    <thead>
    <tr style="font-family: 'Montserrat', sans-serif; font-size: 15px; color: #1892C3">
        <th>Kontrakt-id</th>
        <th>Kunde-id</th>
        <th>Bil-id</th>
        <th>Er bilen limited?</th>
        <th>Udlejning startdato</th>
        <th>Månedlige betaling</th>

        <a href="/createCustomer">
            <button class="create_button">+</button>
        </a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="agreement:${agreementLists}"/>
        <td th:text="${agreement.getRentalagreement_id()}"/>
        <td th:text="${agreement.getCustomer_id()}"/>
        <th th:text="${agreement.getCar_id()}"/>
        <th th:text="${agreement.isLimited()}"/>
        <th th:text="${agreement.getRental_date()}"/>
        <th th:text="${agreement.getMonthly_price()}"/>
        <td><a th:href="@{'/deleteAgreement/' + ${agreement.rentalagreement_id}}">
            <img src="images/deleteCustomer_button.png" class="delete_button" id="deleteCustomer_button">
        </a></td>
        <td><a th:href="@{'/updateAgreement/' + ${agreement.rentalagreement_id}}">
            <img src="images/updateCustomer_button.png" class="update_button" id="updateCustomer_button">
        </a></td>
        </div>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>