<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/createCustomer.css">
    <title>Create customer</title>
</head>
<body>

<img class="logo-left" src="images/companyLogo.png" height="102">
<img class="logo-right" src="images/logo.png" height="102">
<a href="data_registration">
    <img class="back-arrow" src="images/back_arrow.png">
</a>

<h1>Indtast kundeinformation</h1>

<form action="/createCustomer" method="post">
    <label hidden="hidden" for="fornavn">Fornavn</label>
    <input placeholder="Fornavn" type="text" name="first_name" style="color: #000000" id="fornavn"/>
    <br>

    <label hidden="hidden" for="efternavn">Efternavn</label>
    <input placeholder="Efternavn" type="text" name="last_name" style="color: #000000" id="efternavn"/>
    <br>

    <label hidden="hidden" for="adresse">Adresse</label>
    <input placeholder="Adresse" type="text" name="adress" style="color: #000000" id="adresse"/>
    <br>

    <label hidden="hidden" for="postnummer">Postnummer</label>
    <input placeholder="Postnummer" type="text" name="zipcode" style="color: #000000" id="postnummer"/>
    <br>

    <label hidden="hidden" for="by">By</label>
    <input placeholder="By" type="text" name="city" style="color: #000000" id="by"/>
    <br>

    <label hidden="hidden" for="email">E-mail</label>
    <input placeholder="E-mail" type="text" name="mail" style="color: #000000" id="email"/>
    <br>

    <button type="submit" style="color: #000000">Opret Bruger</button>
</form>

</body>
</html>