<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"type="text/css"href="/css/createAgreement.css">
    <title>Title</title>
</head>
<body>

<img class="logo-left" src="images/companyLogo.png" height="102">
<img class="logo-right" src="images/logo.png" height="102">

<table>
    <thead>
    <tr>
        <th>Kontrakt-id</th>
        <th>Kunde-id</th>
        <th>Bil-id</th>
        <th>Er bilen limited?</th>
        <th>Udlejning startdato</th>
        <th>Månedlige betaling</th>

        <a href="/createCustomer">
            <button class="createCustomer_button">+</button>
        </a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="agreementList:${agreementLists}"/>
        <td th:text="${agreementList.rentalagreement_id}"/>
        <td th:text="${agreementList.customer_id}"/>
        <th th:text="${agreementList.car_id}"/>
        <th th:text="${agreementList.isLimited()}"/>
        <th th:text="${agreementList.rental_date}"/>
        <th th:text="${agreementList.monthly_price}"/>
        <td><a th:href="@{'/deleteAgreement/' + ${agreementList.rentalagreement_id}}">
            <img src="images/deleteCustomer_button.png" class="deleteCustomer_button" id="deleteCustomer_button">
        </a></td>
        <td><a th:href="@{'/updateAgreement/' + ${agreementList.rentalagreement_id}}">
            <img src="images/updateCustomer_button.png" class="updateCustomer_button" id="updateCustomer_button">
        </a></td>
        </div>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>