<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/css/updateCustomer.css">
    <title>Title</title>
</head>
    <link rel="stylesheet" type="text/css" href="/css/updateCustomer.css">
    <title>Title</title>
</head>
<body>

<div class="top-page-content">
    <img class="logo-left" src="images/companyLogo.png" height="102">
    <img class="logo-right" src="images/logo.png" height="102">
</div>
<div class="page-content">
    <a href="/car_list">
        <img class="back-arrow" src="images/back_arrow.png">
    </a>
    <h1>Skrive en beskrivelse af skade og husk grene detaljer</h1>

    <br>
    <form action="/addCar" method="post">
        <label>VIN</label>
        <input type="text" name="vin">
        <br>
        <br>
        <label>Model</label>
        <input type="text" name="model">
        <br>
        <br>
        <label>Brand</label>
        <input type="text" name="brand">
        <br>
        <br>
        <label>plate</label>
        <input type="text" name="plate">
        <br>
        <br>
        <label>feature level</label>
        <input type="text" name="feature_level">
        <br>
        <br>
        <label>steelprice</label>
        <input type="number" name="steelprice">
        <br>
        <br>
        <label>reg fee</label>
        <input type="number" name="reg_fee">
        <br>
        <br>
        <label>co2</label>
        <input type="number" name="co2">
        <br>
        <br>
        <label>isFaulty</label>
        <input type="number" name="isFaulty">
        <br>
        <br>
        <label>isRented</label>
        <input type="number" name="isRented">
        <br>
        <br>
        <input type="submit" value="opret Bil" style="color: #1892C3">
    </form>
</div>
</body>
</html>
