<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/customerList.css">
    <title>Title</title>
</head>
<body>
<div class="top-page-content">
    <img class="logo-left" src="images/companyLogo.png" height="102">
    <img class="logo-right" src="images/logo.png" height="102">
</div>
<div class="page-content">
    <a href="/data_registration">
        <img class="back-arrow" src="images/back_arrow.png">
    </a>
    <input class="search_button" type="text" placeholder="søg efter kunde">

    <input type="image" class="search_submit" src="images/search_icon.png" alt="Submit">
    </form>
    <br>
    <br>
    <br>
</div>
<br>
<table>
    <thead>
    <tr style="font-family: 'Montserrat', sans-serif; font-size: 15px; color: #1892C3">
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Adresse</th>
        <th>Postnr</th>
        <th>By</th>
        <th>Email</th>
        <th>Kunde ID</th>
        <a href="/createCustomer">
            <button class="createCustomer_button">+</button>
        </a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customerList:${customerLists}">
        <td th:text="${customerList.first_name}"/>
        <td th:text="${customerList.last_name}"/>
        <th th:text="${customerList.address}"/>
        <th th:text="${customerList.zipcode}"/>
        <th th:text="${customerList.city}"/>
        <th th:text="${customerList.mail}"/>
        <th th:text="${customerList.customer_id}"/>
        <td><a th:href="@{'/deleteCustomer/' + ${customerList.customer_id}}">
            <img src="images/deleteCustomer_button.png" class="deleteCustomer_button" id="deleteCustomer_button">
        </a></td>
        <td><a th:href="@{'/opdateCustomer/' + ${customerList.customer_id}}">
            <img src="images/updateCustomer_button.png" class="updateCustomer_button" id="updateCustomer_button">
        </a></td>
        </div>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>