<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"type="text/css"href="/css/data_registration.css">
    <title></title>
</head>
<body>

<img class="logo-left" src="images/companyLogo.png" height="102">
<img class="logo-right" src="images/logo.png" height="102">

<div class="page-content">
    <a href="index">
        <img class="back-arrow" src="images/back_arrow.png">
    </a>
    <br>
    <p>Skade Registrering
</div>

<div class="image-container">
    <img src="images/carBackground.png" style="width: 100%; height: 100%; object-fit: cover; margin-top: -300px;">
    <div class="button-container">
        <a href="/damage_Report_List">
            <button class="image-button">Skader</button>
        </a>
        <a href="/car_list">
            <button class="image-button">Biler</button>
        </a>
    </div>
</div>
</body>
</html>