<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/data_registration.css">
    <title>Title</title>
</head>
<body>

<div class="rectangle"></div>

<div class="companylogo">
    <img src="images/companyLogo.png" alt="logo for company">
</div>

<div class="car-logo">
    <img src="images/logo.png" alt="car logo">
</div>
<div class="page-content">
<a href="/index">
    <img class="back-arrow" src="images/back_arrow.png" th:scr="@{/images/back_arrow.png}">
</a>
</div>


<h2>I de forskellige oversigter kan du tilføje nye eller redigere
eksisterende kunder, biler eller lejeaftaler</h2>

<div class="button-wrapper">
    <a href="/customerList">
        <button>KUNDER</button>
    </a>
    <a href="/createCar">
        <button>BILER</button>
    </a>

    <a href="/createAgreement">
        <button>LEJEAFTALER</button>
    </a>

</div>



</div>
</body>
</html>