<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"type="text/css"href="/css/data_registration.css">
    <title></title>

    <style>
        .logo-left{
            margin-bottom: 10px;
            display: inline-block;
            margin-right: 400px;

        }
        .logo-right{
            display: inline-block;
            margin-bottom: 10px;
        }

        body{
            background: #F2F2F0;
        }
        .back-arrow{
            margin-left: 25px;

        }
    </style>
</head>
<body>

<img class="logo-left" src="../../static/images/companyLogo.png" height="102">
<img class="logo-right" src="../../static/images/logo.png" height="102">


<a href="index" >  <img class="back-arrow" src="../../static/images/back_arrow.png" height="40"></a>
<header style="font-size: 30px; font-family: Montserrat; padding-left: 200px"><br>I de forskellige oversigter
    kan du tilføje nye eller redigere <br>eksisterende kunder eller lejeaftaler</header>
</body>
</html>