<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Title</title>
</head>
<body>

<div class="rectangle"></div>

<div class="companylogo">
<img src="images/companyLogo.png" alt="logo for company">
</div>

<div class="car">
    <img src="images/redCar.png" alt="car">
</div>

<div class="car-logo">
    <img src="images/logo.png" alt="car logo">
</div>


    <h1>Velkommen!</h1>

<br>
<br>

    <h2>Vælg en af følgende:</h2>

<div class="button-wrapper">
    <a href="/data_registration">
        <button>Data registrering</button>
    </a>
    <a href="/damage_registration">
        <button>Skade registrering</button>
    </a>

    <a href="/business_view">
        <button>Forretningsoversigt</button>
    </a>

</div>
<div class="line1">
</div>
<div class="header3">
    <h3>Bilabonnement A/S    Slotsherrensvej 411c    2610 Rødovre    CVR-nr. 37856827
    </h3>

</div>

</div>
</body>
</html>