<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Title</title>
</head>
<body>
<!-- rectangle top at the webpage -->
<div class="rectangle"></div>
<!-- companyLogo.png image left side at the webpage -->
<div class="companylogo">
    <img src="images/companyLogo.png" alt="logo for company">
</div>
<!-- redCar.png image right side below companyLogo at the webpage -->
<div class="car">
    <img src="images/redCar.png" alt="car">
</div>
<!-- logo.png image right side at the webpage -->
<div class="car-logo">
    <img src="images/logo.png" alt="car logo">
</div>
<h1>Velkommen!</h1>
<br>
<br>
<h2>Vælg en af følgende muligheder:</h2>
<!-- button for data_registration webpage -->
<div class="button-wrapper">
    <a href="/data_registration">
        <button>REGISTRER DATA</button>
    </a>
    <!-- button for damage_Report_List (damage report table) webpage -->
    <a href="/damage_Report_List">
        <button>REGISTRER SKADE</button>
    </a>
    <!-- button for business_view (customer table, rental agreement table and monthly price table column) webpage -->
    <a href="/business_view">
        <button>FORRETNINGSOVERSIGT</button>
    </a>
</div>
<!-- blue line at the bottom of the webpage -->
<div class="line1">
</div>
<!-- header text below the blue line at the bottom of the webpage -->
<div class="header3">
    <h3>Bilabonnement A/S Slotsherrensvej 411c 2610 Rødovre CVR-nr. 37856827
    </h3>
</div>
</body>
</html>