<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/updateCustomer.css">
    <title>Title</title>
</head>
<body>
<!--Remember to put this code to make the picture work a-->
<!-- Thymeleaf cannot load html site images without reference to the image -->
<div class="top-page-content">
    <img class="logo-left" height="102" src="../static/images/companyLogo.png" th:src="@{/images/companyLogo.png}">
    <img class="logo-right" height="102" src="../static/images/logo.png" th:src="@{/images/logo.png}">
</div>
<div class="page-content">
    <a href="/car_list">
        <img class="back-arrow" src="../static/images/back_arrow.png" th:src="@{/images/back_arrow.png}">
    </a>
    <form action="/updateCarInfo" method="post">
        <input type="text" name="car_id" th:value="${car.car_id}" style="display: none">
        <br>
        <input type="text" name="vin" th:value="${car.vin}">
        <br>
        <input type="text" name="model" th:value="${car.model}">
        <br>
        <input type="text" name="brand" th:value="${car.brand}">
        <br>
        <input type="text" name="plate" th:value="${car.plate}">
        <br>
        <input type="text" name="feature_level" th:value="${car.feature_level}">
        <br>
        <input type="text" name="steelprice" th:value="${car.steelprice}">
        <br>
        <input type="text" name="reg_fee" th:value="${car.reg_fee}">
        <br>
        <input type="text" name="co2" th:value="${car.co2}">
        <br>
        <input type="text" name="isFaulty" th:value="${car.isFaulty}">
        <br>
        <input type="text"name="isRented" th:value="${car.isRented}">
        <br>
        <input type="submit" value="save change" style="background-color:#1892C3;">
    </form>
</div>
</body>
</html>