<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/updateCar.css">
    <title>Title</title>
</head>
<body>
<!--Remember to put this code to make the picture work a-->
<!-- Thymeleaf cannot load html site images without reference to the image -->
<div class="rectangle"></div>

<a href="/car_list">
    <img class="back-arrow" src="images/back_arrow.png" th:src="@{/images/back_arrow.png}">
</a>
<img class="logo-left" src="images/companyLogo.png" height="102" th:src="@{/images/companyLogo.png}">
<img class="logo-right" src="images/logo.png" height="102" th:src="@{/images/logo.png}">
<img class="receptionist" src="images/receptionist.jpg" th:src="@{/images/receptionist.jpg}">
<div class="updateCarContainer">
    <form action="/updateCarInfo" method="post">
        <input type="text" name="car_id" th:value="${car.car_id}" style="display: none">
        <br>
        <input type="text" name="vin" th:value="${car.vin}">
        <br>
        <input type="text" name="model" th:value="${car.model}">
        <br>
        <input type="text" name="brand" th:value="${car.brand}">
        <br>
        <input type="text" name="plate" th:value="${car.plate}">
        <br>
        <input type="text" name="feature_level" th:value="${car.feature_level}">
        <br>
        <input type="text" name="steelprice" th:value="${car.steelprice}">
        <br>
        <input type="text" name="reg_fee" th:value="${car.reg_fee}">
        <br>
        <input type="text" name="co2" th:value="${car.co2}">
        <br>
        <input type="checkbox" id="faultyCheckbox" name="faulty" th:checked="${car.faulty}"/>
        <label for="faultyCheckbox">Faulty</label>
        <br>
        <input type="checkbox" id="rentedCheckbox" name="rented" th:checked="${car.rented}"/>
        <label for="rentedCheckbox">Rented</label>
        <br>
        <button type="submit" style="color: #ffffff">Gem</button>
    </form>
    <div id="space"/>
</div>
</body>
</html>