<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/updateAgreement.css">
    <title>Rediger lejeaftale</title>
</head>
<body>
<!-- rectangle top at the webpage -->
<div class="rectangle"></div>
<!-- back_arrow.png image (back button to previous webpage) -->
<a href="/agreementList">
    <img class="back-arrow" src="images/back_arrow.png" th:src="@{/images/back_arrow.png}">
</a>
<!-- companyLogo.png image left side at the webpage -->
<img class="logo-left" src="images/companyLogo.png" height="102" th:src="@{/images/companyLogo.png}">
<!-- logo.png image right side at the webpage -->
<img class="logo-right" src="images/logo.png" height="102" th:src="@{/images/logo.png}">
<!-- image right side at the webpage same as createAgreement -->
<img class="createAgreement" src="images/createAgreement.jpg" th:src="@{/images/createAgreement.jpg}">
<h1>Rediger lejeaftale:</h1>
<!-- contain all the inputs for update Rental Agreement -->
<div class="updateAgreementContainer">
    <form action="/updateAgreementInfo" method="post">
        <input type="text" name="rentalagreement_id" th:value="${agreement.rentalagreement_id}" style="display: none">
        <br>
        <input type="text" name="customer_id" th:value="${agreement.customer_id}">
        <br>
        <input type="text" name="car_id" th:value="${agreement.car_id}">
        <br>
        <!-- checkbox for unselect defaultValue false and select checkbox value true -->
        <label for="limitedCheckbox">Er den limited?</label>
        <input type="checkbox" id="limitedCheckbox" name="limited" th:checked="${agreement.limited}">
        <br>
        <input type="date" name="rental_date" th:value="${agreement.rental_date}">
        <br>
        <input type="text" name="monthly_price" th:value="${agreement.monthly_price}">
        <br>
        <input type="submit" value="Gem ændringer" style="background-color:#1892C3; color: #FFFFFF">
    </form>
</div>
</body>
</html>