<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/updateDamageReport.css">
    <title>Title</title>
</head>
<body>
<!-- rectangle top at the webpage -->
<div class="rectangle"></div>
<!-- back_arrow.png image (back button to previous webpage) -->
<a href="/damage_Report_List">
    <img class="back-arrow" src="../static/images/back_arrow.png" th:src="@{/images/back_arrow.png}">
</a>
<!-- Thymeleaf cannot load html site images without reference to the image -->
<!-- companyLogo.png image left side at the webpage -->
<img class="logo-left" height="102" src="../static/images/companyLogo.png" th:src="@{/images/companyLogo.png}">
<!-- logo.png image right side at the webpage -->
<img class="logo-right" height="102" src="../static/images/logo.png" th:src="@{/images/logo.png}">
<!-- carDamage.png image right side at the webpage -->
<img class="carDamage" src="images/carDamage.png" th:src="@{/images/carDamage.png}">
<h1>Rediger skade:</h1>
<!-- contain all the inputs for update Damage Report -->
<div class="updateDamageReportContainer">
    <form action="/update_Damage_ReportInfo" method="post">
        <input type="text" name="damage_report_id" th:value="${DamageReport.damage_report_id}" style="display: none">
        <br>
        <input type="text" name="customer_id" th:value="${DamageReport.customer_id}">
        <br>
        <input type="text" name="car_id" th:value="${DamageReport.car_id}">
        <br>
        <input type="text" name="damage_description" th:value="${DamageReport.damage_description}">
        <br>
        <input type="text" name="damage_price" th:value="${DamageReport.damage_price}">
        <br>
        <label style="font-family: 'Montserrat', sans-serif; font-size: 25px;">Dato for skade</label>
        <br>
        <input type="date" name="damage_date" th:value="${DamageReport.damage_date}">
        <br>
        <input type="submit" value="Gem ændringer" style="background-color:#1892C3; color: #FFFFFF">
    </form>
</div>
</body>
</html>