<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/updateCustomer.css">
    <title>Rediger kunde</title>
</head>
<body>
<div class="rectangle"></div>
<a href="/customerList">
    <img class="back-arrow" src="images/back_arrow.png"th:src="@{/images/back_arrow.png}">
</a>
<img class="logo-left" src="images/companyLogo.png" height="102"th:src="@{/images/companyLogo.png}">
<img class="logo-right" src="images/logo.png" height="102"th:src="@{/images/logo.png}">
<img class="createCustomer" src="images/createCustomer.png"th:src="@{/images/createCustomer.png}">
<h1>Rediger kundeinformation:</h1>
<div class="updateCustomerContainer">
    <form action="/updateCustomerInfo" method="post">
        <input type="text" name="customer_id" th:value="${customer.customer_id}" style="display: none">
        <br>
        <input type="text" name="first_name" th:value="${customer.first_name}">
        <br>
        <input type="text" name="last_name" th:value="${customer.last_name}">
        <br>
        <input type="text" name="address" th:value="${customer.address}">
        <br>
        <input type="text" name="zipcode" th:value="${customer.zipcode}">
        <br>
        <input type="text" name="city" th:value="${customer.city}">
        <br>
        <input type="text" name="mail" th:value="${customer.mail}">
        <br>
        <button type="submit" style="color: #ffffff">Gem</button>
    </form>
</div>
</body>
</html>