<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/updateCustomer.css">
    <title>Title</title>
</head>
<body>
<!--Remember to put this code to make the picture work a-->
<!-- Thymeleaf cannot load html site images without reference to the image -->
<div class="top-page-content">
    <img class="logo-left" height="102" src="../static/images/companyLogo.png" th:src="@{/images/companyLogo.png}">
    <img class="logo-right" height="102" src="../static/images/logo.png" th:src="@{/images/logo.png}">
</div>
<div class="page-content">
    <a href="/damage_Report_List">
        <img class="back-arrow" src="../static/images/back_arrow.png" th:src="@{/images/back_arrow.png}">
    </a>
    <form action="/update_Damage_ReportInfo" method="post">
     <input type="text"name="damage_report_id"th:value="${DamageReport.damage_report_id}"style="display: none">
        <br>
        <input type="text" name="customer_id" th:value="${DamageReport.customer_id}">
        <br>
        <input type="text" name="car_id" th:value="${DamageReport.car_id}">
        <br>
        <input type="text" name="damage_description" th:value="${DamageReport.damage_description}">
        <br>
        <input type="text" name="damage_price" th:value="${DamageReport.damage_price}">
        <br>
        <input type="text" name="damage_date" th:value="${DamageReport.damage_date}">
        <br>
        <input type="submit" value="save change" style="background-color:#1892C3;">
    </form>
</div>
</body>
</html>